DB_PORT=DB_PORT
DB_USER='DB_USER'
DB_NAME='DB_NAME'
DB_PASSWORD='DB_PASSWORD'
DB_HOST='DB_HOST'

SECRET_KEY="SECRET_KEY"
ALGORITHM="ALGORITHM"
ACCESS_TOKEN_EXPIRE_MINUTES=ACCESS_TOKEN_EXPIRE_MINUTES
REFRESH_TOKEN_EXPIRE_DAYS=REFRESH_TOKEN_EXPIRE_DAYS

SUPERADMIN_TITLE="SUPERADMIN_TITLE"
SUPERADMIN_FIRST_NAME="SUPERADMIN_FIRST_NAME"
SUPERADMIN_LAST_NAME="SUPERADMIN_LAST_NAME"
SUPERADMIN_EMAIL="SUPERADMIN_EMAIL"
SUPERADMIN_PASSWORD="SUPERADMIN_PASSWORD"

LIMIT=LIMIT


